
<div  ng-controller="EditController" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="line-height:200%">
    <div class="col-md-4" style="text-align:right"></div>
    <div class="col-md-8" style="text-align:left"><b> Edit Employee</b></div>
    <div class="col-md-12">
        <div class="col-md-4" style="text-align:left">
            First Name :
        </div>
        <div class="col-md-6" style="text-align:left">
            <input type="text" id="FirstName" ng-model="FirtsName"  class="form-control input-sm"  required />
        </div>
        <div class="col-md-2" style="text-align:right">
            &nbsp;
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4" style="text-align:left">
            Last Name :
        </div>
        <div class="col-md-6" style="text-align:left">
            <input type="text" id="LastName" ng-model="LastName" required  class="form-control input-sm" />
        </div>
        <div class="col-md-2" style="text-align:right">
            &nbsp;
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4" style="text-align:left">
            DOB :
        </div>
        <div class="col-md-6" style="text-align:left">
            <input type="datetime" id="DOB" ng-model="DOB" required class="form-control input-sm"  />
        </div>
        <div class="col-md-2" style="text-align:right">
            &nbsp;
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4" style="text-align:left">
            Salary :
        </div>
        <div class="col-md-6" style="text-align:left">
            <input type="number" id="Salary" ng-model="Salary" required class="form-control input-sm"  />
        </div>
        <div class="col-md-2" style="text-align:right">
            &nbsp;
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4" style="text-align:left">
            Location :
        </div>
        <div class="col-md-6" style="text-align:left">
            <input type="text" id="Salary" ng-model="Location" required class="form-control input-sm"  />
        </div>
        <div class="col-md-2" style="text-align:right">
            &nbsp;
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4" style="text-align:left">
            Department :
        </div>
        <div class="col-md-6" style="text-align:left">
            <select class="form-control" ng-model="DeptId" ng-options="value.DeptId as value.DeptName for (key, value) in Departments">
                <option value="">--Select Department--</option>
            </select>
        </div>
        <div class="col-md-2" style="text-align:right">
            &nbsp;
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4" style="text-align:right"></div>
        <div class="col-md-8" style="text-align:left">
            <a href="/#!/list" class="btn btn-info">Back to List</a>
            <button type="submit" class="btn btn-default" ng-click="save()">
                Submit
            </button>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#DOB').datepicker();
        });
    </script>
</div>

